/***********************************************************
                        GENERAL
***********************************************************/
.App {
  font-family: "Comic Sans MS", sans-serif;
  max-width: 1900px;
  margin: auto;
}

.block-header {
  font-size: 30px;
  line-height: 22px;
  text-align: center;
}

.main--nav {
  display: flex;
  justify-content: flex-end;
}

.header {
  background: url(/assets/icons/bg_png/1.png) right top no-repeat;
  background-size: 63%;
  height: 1075px;
}

.header-container {
  max-width: 1024px;
  margin: auto;
}

.nav_list {
  margin: 0;
  display: flex;
  padding: 40px 0;
}

.nav_list--item {
  list-style: none;
  margin: 0 10px;
}

.nav_list--link {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
  transition: 350ms;
}

.nav_list--link:hover {
  color: #272f2f;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dev-png {
  padding: 110px 0 0 140px;
  max-width: 550px;
  width: calc(100% - 500px);
  min-width: 300px;
}

/***********************************************************
                    REQUIREMENT
***********************************************************/
.requirement {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto 70px;
}

.requirement--header::before {
  background: url(/assets/icons/bg_png/leftBubbles.png) left bottom 100% no-repeat;
  content: " ";
  position: absolute;
  width: 217px;
  height: 329px;
  z-index: -1;
  left: 0;
  bottom: -50px;
}

.requirement--header {
  position: relative;
  color: #272f2f;
  margin-bottom: 50px;
}

.requirement_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.requirement_list--item {
  margin: 45px 8px;
  padding: 17px;
  display: grid;
  list-style: none;
  border-radius: 10px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.07);
  background-color: #fafafa;
  font-size: 14px;
  line-height: 22px;
  color: #272f2f;
}

.requirement_list--item img {
  margin: auto;
}

/***********************************************************
                          HELP
***********************************************************/
.help {
  height: 888px;
  margin-bottom: 80px;
  display: flex;
  justify-content: flex-end;
  background: #1ea992;
  position: relative;
}

.help--header {
  color: #fff;
  text-align: left;
  margin-top: 40px;
}

.help--container {
  position: relative;
  max-width: 1024px;
  display: grid;
  width: 50%;
  justify-content: start;
}

.help--img {
  height: 950px;
  position: absolute;
  left: 0;
}

.help--list {
  margin-top: 0;
  padding: 0 0 0 10px;
}

.help--list_item {
  margin: 90px 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  color: white;
}

.help--list_item:nth-child(odd) {
  margin-right: 95px;
  width: 450px;
}

.numeration {
  font-size: 60px;
  line-height: 26px;
  display: block;
  margin-right: 33px;
}

.details {
  width: 350px;
  font-size: 16px;
  line-height: 26px;
  display: block;
}

/***********************************************************
                          OFFER
***********************************************************/

.offer {
  background:
    url("/assets/icons/bg_png/rightBubles.png") right top no-repeat,
    url("/assets/icons/bg_png/footer.png") bottom no-repeat;
  padding-top: 130px;
}

.offer--header {
  text-align: center;
}

.offer--list {
  max-width: 1024px;
  margin: 0 auto 220px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.offer--list-item {
  display: grid;
  justify-content: center;
  text-align: center;
  width: 308px;
  height: 308px;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  color: #272f2f;
  list-style: none;
}

.offer--img_container {
  width: 205px;
  height: 205px;
  display: grid;
  justify-content: center;
  align-items: flex-end;
}

/***********************************************************
                        CONTACTS
***********************************************************/

.contacts {
  color: white;
  max-width: 1024px;
  margin: 0 auto 135px;
}

.contacts--header {
  padding-bottom: 110px;
}

.contacts--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts--address-header {
  margin-top: 0;
}

.contacts--address-line {
  display: block;
  line-height: 38px;
  font-size: 16px;
}

.address {
  margin: 75px 0;
}

.socials {
  display: flex;
}

.socials--link {
  margin-right: 52px;
  display: block;
}

.map {
  position: relative;
  margin-bottom: 31px;
}

.pin-img {
  position: absolute;
  left: 995px;
  bottom: 133px;
}
