/*******************************************
                  GENERAL
********************************************/
@font-face {
  font-family: Comic Sans MS;
  src: url(assets/font/CSMS.ttf) format("opentype");
}

body {
  margin: 0;
  padding: 0;
}
